@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: 80 60% 1%;
        --foreground: #ededed;
        
        --primary:210 83% 47%;
        
        --border: 204 100% 91% / 0.15;

        --b: hsla(204, 100%, 91%, 0.158);
    }
    
}

@theme inline {
    --color-background: hsl(var(--background));
    --color-primary: hsl(var(--primary));
    --color-foreground: var(--foreground);

    --color-border: var(--border);

    --font-sans: var(--font-inconsolata);

    --font-mono: var(--font-geist-mono);
}

body {
    background: hsl(var(--background));
    color: var(--foreground);
    font-family: var(--font-inconsolata);
}

* {
    border-color: hsl(var(--border));
}

.technologies {
    animation: technologies-anim 15s linear infinite;
}

.technologies:hover {
    animation-play-state: paused;
}

@keyframes technologies-anim {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.waddle {
    animation: waddle 500ms linear infinite;
}

@keyframes waddle {
    0% {
        transform: rotateZ(-15deg) scaleX(var(--scale));
    }

    50% {
        transform: rotateZ(15deg) scaleX(var(--scale));
    }

    100% {
        transform: rotateZ(-15deg) scaleX(var(--scale));
    }
}


.flip-horizontal {
    transform: scaleX(-1);
}